
html{
  background-color: #fefbef !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-right: 16,

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  font-size: xx-large;
  /* background-color: #333; */
  border-color:  none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  gap: 4rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  background-color:#1976d2;
}

.nav li:hover {
  background-color: rgb(74, 66, 190);
}

.navbarIcon{
  width: 6.25%;
  height: 6.25%;
}

/* for the conttainer for all pages*/
.container {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-description{
  text-align: center;
  font-size: 200.5%;
}
.headTextHeading{
  margin-bottom: 5%;
  font-size: 272.5%;
  text-align: center;

}